<!DOCTYPE html>
<html>
<head>
    <title>
        INDEX
    </title>
</head>
<body>
    <ul>
        <li>
            <a href="home_page.html">Homepage</a> <br> This is the homepage of the website.
        </li>

        <li>
            <a href="schedule_class.html">Schedule Class</a><br> This is the page where to sign up for a class.
        </li>
        <li>
            <a href="scheduled.html">User Scheduled Classes</a><br> This is the page where users can see their scheduled class.
        </li>
        <li>
            <a href="user_signup.html">User Signup</a><br> This is where the user can signup to the website/gym.
        </li>
        <li>
            <a href="user_login.html">User Login</a><br> This is where the user can login to the website.
        </li>
        <li>
            <a href="instructor_certs.html">Instructor List</a><br> This is where the instructors are listed for what classes they can teach.
        </li>
        <li>
            <a href="instructor_login.html">Instructor Login</a><br> This is where the instructors can login to the website.
        </li>
        <br>
        <br>

    </ul>

</body>
</html>
